@charset "utf-8";

body{
	font-family: "Microsoft YaHei","黑体","宋体",sans-serif;
	font-size: 12px;
	line-height: 1.5;
	overflow-x:hidden;
	margin:0;
	padding: 0;
}

.head {
	height: 60px;
	background: #ffcd20;
	box-shadow: 0 2px 2px #928d8d;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 0;
	margin: 0;
}

.head a{
	text-decoration: none;
}

.head .menu{
	float: left; 
	position: relative;
	left: 15%;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 70%;
}

.head .menu ul{
	list-style:none;
}

.head .menu li{
	float:left;
}

.head .menu .logo {
	width: 24%;
	height: 100%;
	float: left; 
	position: relative;
}

.head .menu .logo img{
	height: 100%;
}

.head .menu .item-box {
	width: 76%;
	height: 100%;
	float: left; 
	position: relative;
	padding: 0;
	margin: 0;
}

.head .menu .item-box .item{
	height: 100%;
	width: 25%;
	float: left; 
	position: relative;
	padding: 0;
	margin: 0;
	text-align: center;
}

.head .menu .item-box .item:hover {
	cursor: pointer;	
}

.head .menu .item-box .item .text{
	position: relative;
	height: 57px;
	width: 100%;
	padding: 0;
	margin: 0;
}

.head .menu .item-box .item .text a{
	color: #000000;
	font-size: 16px;
	position: relative;
	top: 35%;
}

.head .menu .item-box .item:hover .spot{
	display: block;
}

.head .menu .item-box .item .spot{
	height: 3px;
	width: 40%;
	background: black;
	left: 30%;
	bottom: 0%; 
	position: relative;
	padding: 0;
	margin: 0;
	display: none;
}

.clearfix { 
  *zoom: 1; 
} 

.clearfix:before, 
.clearfix:after { 
  display: table; 
  line-height: 0; 
  content: ""; 

} 

.clearfix:after { 
  clear: both; 
} 

.footer{
	width: 100%;
	height: 300px;
	background: #2c2c2c;
	position: relative;
	bottom: 0;
}

.footer .info {
	width: 50%;
	height: 100%;
	position: relative;
	left: 25%;
}

.footer .info .wechat {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}

.footer .info .wechat img {
	height: 120px;
	position: relative;
	top: 20%;
}

.footer .info .record {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}

.footer .copyright{
	text-align: center;
	color: #B8AFAF;
}